{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module",
  },
  "plugins": [
    "react",
    "@typescript-eslint"
  ],
  "rules": {
    "no-trailing-spaces": "error",
    "react/jsx-closing-bracket-location": [
      "error",
      {
        "nonEmpty": false,
        "selfClosing": "line-aligned"
      }
    ],
    "no-multiple-empty-lines": [
      2,
      {
        "max": 1
      }
    ],
    "no-console": "warn"
  },
  // "overrides": [
  //   {
  //     "files": [
  //       "**/*.ts",
  //       "**/*.tsx"
  //     ],
  //     "env": {
  //       "browser": true,
  //       "es6": true,
  //       "node": true
  //     },
  //     "extends": [
  //       "eslint:recommended",
  //       "plugin:@typescript-eslint/eslint-recommended",
  //       "plugin:@typescript-eslint/recommended"
  //     ],
  //     "globals": {
  //       "Atomics": "readonly",
  //       "SharedArrayBuffer": "readonly"
  //     },
  //     "parser": "@typescript-eslint/parser",
  //     "parserOptions": {
  //       "ecmaFeatures": {
  //         "jsx": true
  //       },
  //       "ecmaVersion": 2018,
  //       "sourceType": "module",
  //       "project": "./tsconfig.json"
  //     },
  //     "plugins": [
  //       "@typescript-eslint"
  //     ],
  //     "rules": {
  //       "indent": [
  //         "error",
  //         2,
  //         {
  //           "SwitchCase": 1
  //         }
  //       ],
  //       "linebreak-style": [
  //         "error",
  //         "unix"
  //       ],
  //       "quotes": [
  //         "error",
  //         "single"
  //       ],
  //       "comma-dangle": [
  //         "error",
  //         "always-multiline"
  //       ],
  //       "@typescript-eslint/no-explicit-any": 0
  //     }
  //   }
  // ]
}