@use '../../global.scss' as position;
@use '../../global.scss' as color;

.wrapper {
  @include position.column-start;
  padding: 0 50px;
  // background-color: color.$secondary-background-color;
  // border: 5px solid color.$secondary-color;
}

.my-masonry-grid {
  // background-color: #000;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4,100px);
  column-gap: 30px;
  // background-color: cornflowerblue;
}

.my-masonry-grid_column {
  background-clip: padding-box;
  
}