.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

.nav-links-right {
  display: flex;
  flex-direction: row;
}

.navItem__right {
  color: #1d1d1d;
  text-decoration: none;
  margin: 0 10px;
}
