.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

.nav-links-right {
  display: flex;
  flex-direction: row;
}

.nav-links-home {
  display: flex;
  flex-direction: column;
}

.navItem__right {
  color: #1d1d1d;
  text-decoration: none;
  margin: 0 10px;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  /*background: grey;*/
  margin-bottom: 30px;
}

